/*.mat

/Electrical/Analog/*.bak-mo
/*.lib

/dymosim.exp

/dymosim.exe

/dsmodel.c

/dslog.txt

/dsin.txt
/dsfinal.txt

/buildlog.txt

/*.bak-mo

/Electrical/Analog/Interfaces/Bases/*.bak-mo

/Examples/*.bak-mo

/Electrical/Analog/Interfaces/*.bak-mo
/T1/Electrical/Analog/Basic/intermediate/package.bak-mo
